*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 86%);
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.result-main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  width: 576px;
  height: 320px;
  border-radius: 16px;
}

section.result-container {
  width: 50%;
  height: 100%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  text-align: center;
  align-items: center;
  color: white;
}
section.result-container > h1 {
  font-size: 16px;
  opacity: 0.7;
}
section.result-point {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  height: 120px;
  width: 120px;
  padding: 32px 8px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.result-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
p.main-point {
  font-size: 48px;
  font-weight: bold;
}
p.secondary-point {
  font-weight: bold;
  font-size: 12px;
  opacity: 0.5;
}

p.result-text-paragraph {
  font-size: 12px;
  width: 80%;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  word-spacing: 2px;
}

p.result-text-header {
  font-weight: bold;
  font-size: 24px;
}
section.attribution {
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
}
section.result-text {
  max-width: 100%;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

section.summary-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  justify-content: space-between;
}

.summary-header {
  width: 90%;
  left: 0;
}
.summary-list-container {
  width: 90%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.summary-list {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  margin: 4px;
  height: 56px;
  justify-content: space-between;
  width: 100%;
  background-color: lightblue;
  font-size: 12px;
}

.summary-list section {
  display: flex;
  align-items: center;
  width: 75px;
}

section.left p {
  margin-left: 8px;
  font-weight: bold;
}
.score {
  font-weight: bold;
  text-align: center;
  width: 30%;
}
.score-divider {
  margin-right: 4px;
}
.score-gray {
  color: gray;
  margin-left: 4px;
}

#reaction > section {
  color: hsl(0, 100%, 67%);
}
#memory > section {
  color: hsl(39, 100%, 56%);
}
#verbal > section {
  color: hsl(166, 100%, 37%);
}
#visual > section {
  color: hsl(234, 85%, 45%);
}
.summary-list#reaction {
  background-color: hsl(0, 100%, 67%, 0.05);
}
.summary-list#memory {
  background-color: hsl(39, 100%, 56%, 0.05);
}
.summary-list#verbal {
  background-color: hsl(166, 100%, 37%, 0.05);
}
.summary-list#visual {
  background-color: hsl(234, 85%, 45%, 0.05);
}

.summary-header > h2 {
  font-size: 16px;
  font-weight: bold;
}
section > .summary-button > input {
  background-color: hsl(224, 30%, 27%);
  color: white;
  text-align: center;
  border-radius: 32px;
  height: 36px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

section > .summary-button > input:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media all and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
  main.result-main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
  }
  section.result-container {
    padding: 16px 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-radius: 0 0 32px 32px;
  }
  section.summary-main {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
  section.summary-list-container {
    padding: 16px 0;
    height: 80%;
    justify-content: space-between;
  }
  section.summary-main input {
    height: 48px;
    width: 280px;
  }
}
